<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.example.dinaspeternakan">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
		<activity android:name=".DetailAnggota"/>
		<activity android:name=".DetailArtikel"/>
		<activity android:name=".DetailForumUnggas"/>
		<activity android:name=".ForumBisnis"/>
		<activity android:name=".ForumUnggas"/>
		<activity android:name=".KunjunganTernak"/>
		<activity android:name=".LabBondowoso"/>
		<activity android:name=".Labupt"/>
		<activity android:name=".Login"/>
		<activity android:name=".Register"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
